.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

main {
    padding: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-buttons {
    margin: 20px;
    display: inline-block;
    padding: 6px 15px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .4);
    text-decoration: none;
    background-color: #f65;
    color: #fff;
}

.main-buttons.defaults {
    background-color: #ddd;
    color: #000;
    cursor: pointer;
    font-size: 16px;
}
