.Card {
    width: 280px;
    border: 3px solid #BADA55;
    margin: 15px;
}

.Card .image {
    height: 200px;
    background-position: center;
    background-size: cover;
}

.Card .title {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #f65;
}
