.RecipePage {
    max-width: 800px;
    margin: auto;
    text-align: left;
    padding-top: 40px;
}

.RecipePage button {
    background-color: #BADA55;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .6);
    padding: 4px 6px;
    margin-right: 15px;
}

.RecipePage .title {
    letter-spacing: 7px;
    font-size: 40px;
}

.RecipePage .image {
    width: 100%;
    margin: auto;
    background-position: center;
    background-size: cover;
    padding-bottom: 60%;
}

.RecipePage .ingredients li,
.RecipePage .instructions li {
    text-align: left;
    line-height: 1.5;
}

.RecipePage .instructions li {
    margin-bottom: 15px;
}
